@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@{
    @inject UserManager<ApplicationUser> userManager
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/layout/CSS/all.min.css">
    <link rel="stylesheet" href="~/layout/CSS/normalize.css">
    <link rel="stylesheet" href="~/layout/CSS/main.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Work+Sans&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
   
</head>
<body>
    <div class="page">
        <div class="side">
            <h3>ILearning</h3>
            <ul id="menuList">
                @if (User.Identity.IsAuthenticated == true)
                {

                    <li class="active btn-active">
                        <a href="/Department/index">
                            <i id="true" class="fa-solid fa-check"></i>
                            <span>Active Departments</span>
                        </a>
                    </li>
                    <li class="btn-active">
                        <a href="/department/NotActive">
                            <i id="false" class="fa-solid fa-circle-xmark"></i>
                            <span> Not Active </span>
                        </a>
                    </li>
                    <li class="btn-active">
                        <a href="/Student/index">   
                            <i class="fa-solid fa-people-line"></i>
                            <span>Students</span>
                        </a>
                    </li>
                    <li class="btn-active">
                        <a href="/Instructor/index">
                            <i class="fa-solid fa-person-chalkboard"></i>
                            <span>Instructors</span>
                        </a>
                    </li>
                    <li class="btn-active">
                        <a href="/Course/index">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <span>Courses</span>
                        </a>
                    </li>

                      @if(User.IsInRole("Admin"))
                    {
                        <li class="btn-active">
                            <a href="/acount/AddRole">
                                <i class="fa-solid fa-plus"></i>
                                <span>Add Role</span>
                            </a>
                        </li>
                        <li class="btn-active">
                            <a href="/Exam/AddExam">
                                <i class="fa-regular fa-calendar-plus"></i>
                                <span>Create Exam</span>
                            </a>
                        </li>
                    }
                    <li class="btn-active">
                        <a href="/Exam/ShowExam">
                            <i class="fa-solid fa-eye"></i>
                            <span>Show Exam</span>
                        </a>
                    </li>
                    <li class="btn-active">
                        <a href="/acount/profile">
                            <i class="fa-solid fa-user"></i>
                            <span>Profile</span>
                        </a>
                    </li>
                                       
                    <li class="btn-active">
                        <a href="/acount/Signout">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <span>Log Out</span>
                        </a>
                    </li>
                }else
                {
                    <li class="btn-active">
                        <a href="/acount/register">
                            <i class="fa-solid fa-user-group"></i>
                            <span>Register</span>
                        </a>
                    </li>
                    <li class="btn-active">
                        <a href="/acount/login">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <span>Login</span>
                        </a>
                    </li>
                }
                
            </ul>
        </div>
        <div class="content">
            <!-- start header -->
            <div class="head">
                <div class="search">
                    <input id="menuSearch" class="input" type="search" placeholder="Type A Keyword">
                </div>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show object-fit-contain" role="alert">
                        @TempData["SuccessMessage"]   
                    </div>
                }
                @if (TempData["RoleMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show object-fit-contain" role="alert">
                        @TempData["RoleMessage"]    
                    </div>
                }
                @if (TempData["ResetMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show object-fit-contain" role="alert">
                        @TempData["ResetMessage"]
                    </div>
                }
                @if (TempData["deleteExamMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show object-fit-contain" role="alert">
                        @TempData["deleteExamMessage"]
                    </div>
                }

                <div class="icons">
                    <div class="notification">
                        <i class="fa-regular fa-bell"></i>
                    </div>
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        var user = await userManager.GetUserAsync(User);
                        <a asp-action="profile" asp-controller="acount">
                            <img src="@user.ImageUrl" alt="profile">
                           
                        </a>
                    }
                    @if(User.Identity.IsAuthenticated == true)
                    {
                        var name = User.Identity.Name;
                        <span class="hello">Welcom (@name)</span>
                    }else
                    {
                        <span class="hello">Welcom (Guest)</span>
                    }                  
                </div>
            </div>
            <!-- end header -->
            <h1 class="main-heading">@ViewBag.Title</h1>
            
            @RenderBody()

        </div>
    </div>
   

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("scripts",false);
</body>
</html>