@model List<Question>
@{
    var exam = ViewBag.Exam as Exame;
    Layout = "_Layout2";
}

<div class="container mt-5 boxing">
    @if (User.IsInRole("Admin"))
    {
        <form asp-action="DeleteExam" asp-controller="Exam" asp-route-id="@exam.ExameId" id="delete-exam-form" class="d-flex justify-content-center">
            <button type="button" id="delete-exam" class="btn btn-danger">Delete Exam</button>
        </form>
    }

    <form id="form-send-exam" method="post" asp-action="SubmitExam">
        <input type="hidden" name="examId" value="@exam.ExameId" />
        <div class="d-flex justify-content-between" style="align-items: center;">
               <h2 class="create">Exam: @exam.ExameName</h2>
            <div class="spans" style="font-size: 35px; font-weight: bold;color: red;">
                   <span class="minuts">@exam.Duration</span>
                   <span>:</span>
                   <span class="seconds">00</span>
               </div>
            </div>
            

        <p>Date: @exam.ExameDate.ToShortDateString()</p>
        <p>Duration: @exam.Duration minutes</p>
        <p>Full Mark: @exam.FullMark</p>

        <hr />

        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="mb-4">
                <h5>Q@(i + 1): @Model[i].Title</h5>

                @foreach (var option in Model[i].Options)
                {
                    <div>
                        <input type="radio"
                               name="answers[@Model[i].QuestionId]"
                               value="@option.OptionId" />
                        @option.Tilte
                    </div>
                }
            </div>
            <hr />
        }

        <button type="button" class="btn btn-success" id="sent-exam">Submit Exam</button>
    </form>
</div>
